@import "variables";
@import "reset";

header{
      
    .impal{
        text-align: center;
        padding-top: 14vh;
        img{
            height: 80vh;
            width: auto;

            
        }
    }
    .botonh{
        text-align: center;
        background-color: $color10;
        padding: 5vh;

        :hover{
            background-color:transparent;
            border-color: $color1;
            transition: ease-in-out 0.5s;
        }
        
        input{
            font-family: 'Varela Round', sans-serif;
            font-size: 1.3rem;
            background-color: $azul2;
            color: white;
            padding: 1rem 5rem;
            border-radius: 30px;
           
        }
    }
}

@media screen and (max-width:1024px) {
  
}