$color0:#fff;
$azul1:rgb(0,66,108);
$azul2:rgb(0,63,103);
$color1:rgb(112.55,255,244.04);
$color2:rgb(0,127.5,255);
$color3:rgb(21.91,40.85,255);
$color4:rgb(0,6.77,244.17);
$color5:rgb(21.22,81.6,0);
$color6:rgb(63.75,255,0);
$color7:rgb(239.06,255,9.97);
$color8:rgb(255,2.98,0);
$color9:rgb(97.8,0,0);
$color10:rgb(0,66,108);
$color10a:rgb(35.04,62.8,75);
$color4o:rgba(0,6.77,244.17,0.2);
$color10o:rgb(35.04,62.8,75,0.2);
$fuente1: 'Varela Round', sans-serif;

